/*--- RESET CSS ---*/
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

/*--- ESTILOS GENERALES - REUTILIZACIÓN CSS---*/

/*Variables*/
:root{
    --celeste-primario: #256B99;
    --celeste-secundario: #37A0E6;
    --negro-primario: #454545;
    --amarillo-focus: #f0c841;
}

/*Smooth Scroll*/
html{
    scroll-behavior: smooth; scroll-padding: 130px;
}

/*Cuerpo del Sitio*/
body{
    font-family: Tahoma, 'sans-serif'; font-size: 18px;
    background-color: #fff; color: var(--negro-primario);
}

/*Vínculos*/
a{
    text-decoration: none; color: var(--celeste-primario);
}

/*Fuente de Familia y Color*/
nav ul li a, h1, #hero_sup span, 
h2, h3, .contact_end{
    font-family: Bahnschrift; 
    color: var(--celeste-primario);
}

/*Encabezado h2*/
h2{
    margin: 10px 0; font-size: 40px; text-align: center; 
}   
h2 img{
    width: 40px; height: 40px; 
    margin-right: -2px; margin-top: -10px;
}

/*Encabezado h3*/
h3{
    font-size: 30px; margin-left: 80px; margin-bottom: -15px;  
}

/*Flexbox*/
header, nav ul, #hero_sup, #hero_inf, 
.button, #about_sup, #about_inf, 
.works_row, .works_links, .btn_contact, footer{
    display: flex;
}
#hero_sup, #hero_inf, #about_sup, 
#about_inf, .btn_contact{
    justify-content: space-evenly; 
    align-items: center; height: 100%;
}

/*Estilo para los botones celestes*/
.button{
    align-items: center; padding: 12px 25px; 
    position: relative; outline: none; border-radius: 5px;
    background-color: #256b99cc; color: #fff;     
}
.button img{
    width: 30px; height: 30px; 
    margin-right: 5px;
}

/*Efecto para los botones celestes*/
.button::before{
    position: absolute; content: ''; border-radius: 5px;
    background-color: var(--celeste-primario);
    width: 0%; height: 100%; z-index: -1;
    top: 0; left: 0; transition: 200ms ease-out;
}
.button:hover::before, 
.button:focus-visible::before{
    width: 100%;
}

/*Efecto - Letra Capital en Párrafos*/
#hero_inf p::first-letter, 
#about_sup div p::first-letter, 
#contact p:first-of-type::first-letter{
    font-size: 30px; margin-right: 1px;
    color: var(--celeste-primario);
}

/*Navegación por teclado en algunos vínculos y en el contenido del portafolio (Accesibilidad)*/
[tabindex="0"]:focus-visible, a:focus-visible:not(nav ul li a, .button){
    border: 2px solid var(--amarillo-focus); outline: none;
}

/*--- CONTENEDOR DEL PORTAFOLIO ---*/
#wrapper{width: 100%; height: 100%;}

/*--- 1) ENCABEZADO - MENÚ ---*/
header{
    background-color: #FAFAFA; position: fixed;  
    width: 100%; height: 120px; z-index: 1000;
    align-items: center; justify-content: space-around; 
    box-shadow: 0 0 4px 2px #c5c5c5; top: 0;
}

/*Logo del Encabezado*/
#logo_head img{width: 130px; height: 100px;}

/*Ocultar botón de menú desplegable*/
#btn_menu{
    width: 55px; height: 55px; background-color: #fff; font-size: 15px;
    border: 1px solid #cccccc; color: var(--celeste-primario); display: none;
}
#btn_menu img{width: 30px; height: 30px;}

/*Diseño - Menú de Navegación*/
nav ul{list-style: none;}
nav ul li a{
    margin: 0 20px; font-size: 20px; outline: none;
    font-weight: bold; position: relative;
}
nav ul li a::after{
    position: absolute; content: ''; 
    background-color: var(--celeste-primario);
    height: 3px; width: 0%; opacity: 0;
    bottom: -3px; left: 1px; transition: 300ms ease-out;
}
nav ul li a:hover::after, 
nav ul li a:focus-visible::after{
    width: 100%; opacity: 1;
}

/*Banderas español - inglés para traducción del contenido*/
.flag{
    width: 70px; height: 70px; font-size: 15px;
    color: var(--celeste-primario);
    display: inline-block; text-align: center; 
}
.flag img{
    width: 50px; height: 50px; margin-bottom: -8px;
}

/*--- 2) PORTAFOLIO ---*/
main{width: 85%; margin: 100px auto;}

/*2.1) SECCIÓN: PORTADA - "HERO"*/
#hero_sup{height: 425px;}
#hero_sup h1{font-size: 50px; margin-bottom: 4px;}
#hero_sup span{color: #666666; font-size: 32px;}
#hero_sup img{width: 350px; height: 250px;}
#hero_inf{height: 150px; margin-bottom: 25px;}
#hero_inf p{
    width: 55%; line-height: 30px; padding: 5px;
}

/*Flecha de anclaje a la sección "Sobre Mí"*/
#go_down{
    margin-left: 50%; display: inline-block; transform: translateX(-50%); 
    animation: go_down 0.6s ease-in-out infinite alternate; 
}

/*Animación para la flecha de anclaje a la sección "Sobre Mí"*/
@keyframes go_down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
}

/*2.2) SECCIÓN: "SOBRE MÍ"*/
#about_sup{margin-bottom: 20px;}
#about_sup div{width: 55%;}
#about_sup div p{margin: 15px 0;}
#about_sup img{
    border-radius: 50%; width: 210px; 
    box-shadow: 2px 2px 10px 0 var(--celeste-primario);
}
#about_inf{margin: 60px 0;}
.card_about{
    text-align: center; width: 180px; height: 100%;
}
.card_about img{
    width: 65px; height: 65px; margin-bottom: 5px;
}

/*2.3) SECCIÓN: "HABILIDADES"*/
#skills{margin-bottom: 40px;}

/*DISEÑO - CARRUSEL DE IMÁGENES*/
.mySlides{display: none;}
img{vertical-align: middle;}

/*Contenedor del Carrusel*/
.slideshow-container{
  max-width: 700px; margin: 30px auto; position: relative;
}

/*Texto Inferior*/
.text{
  background-color: var(--celeste-primario); 
  color: #fff; font-size: 18px;
  text-align: center; padding: 12px; bottom: 0;
  width: 100%; position: absolute;
}

/*Indicadores del Carrusel*/
.dot_cont{width: 100%; margin-top: -30px;}
.dot{
  height: 15px; width: 15px;
  margin: 0 2px; background-color: #8ab5d3;
  border-radius: 50%; display: inline-block;
  transition: background-color 0.6s ease;
}
.active{background-color: var(--celeste-primario);}

/*Animación con Opacidad*/
.fade{animation: fade 1.5s;}
@keyframes fade{
  from {opacity: .5} 
  to {opacity: 1}
}

/*2.4) SECCIÓN: "PROYECTOS"*/

/*Diseño para las filas que acomodan las tarjetas con los proyectos*/
.works_row{justify-content: space-around; margin: 45px 0;}
#justify-center{justify-content: space-evenly;}

/*Diseño para las 9 tarjetas con los proyectos*/
.work_card{
    width: 300px; height: 225px; cursor: pointer;
    position: relative; overflow: hidden;
    box-shadow: 0 0 6px 3px #b1b1b1;
}
.work_card img, .work_description{
    position: absolute; transition: 400ms;
    width: 100%; height: 100%;
}
.work_card img{transform: scale(1.1);}
.work_description{
    background-color: rgba(0, 0, 0, .9); opacity: 0;
    z-index: 1; padding: 15px; top: -100%;
    border: 8px double var(--celeste-secundario);
}
.work_description p{color: #fff; font-size: 16px;}
.works_links{
    justify-content: space-evenly; position: absolute;
    width: 70%; bottom: 15px; left: 50%; transform: translateX(-50%);
}
.works_links a{color: var(--celeste-secundario); font-size: 14px;}
.works_links a img{
    width: 45px; height: 45px;
    margin-top: -45px; 
}

/*Efecto para las tarjetas al colocar el cursor encima*/
.work_card:hover img, .work_card:focus-visible img{transform: scale(1);}
.work_card:hover .work_description, .work_card:focus-visible .work_description{top: 0; opacity: 1;}

/*2.5) SECCIÓN: "CONTACTO"*/
#contact p, .btn_contact{margin: 35px auto;}

/*Párrafo de Conclusión del Portafolio*/
#contact p{
    text-align: center; width: 60%; line-height: 25px;
}

/*Contenedor - Botones de Contacto*/
.btn_contact{width: 70%; padding: 10px;}

/*Frase Final del Portafolio*/
.contact_end{font-size: 25px; font-weight: bold;}

/*--- 3) PIE DE PÁGINA---*/
footer{
    background-color: var(--negro-primario); 
    justify-content: center; align-items: center;
    height: 100px; color: #fff; margin-top: -30px;
}

/*Espaciado entre los elementos del pie*/
#logo_foot, footer p{margin: 0 20px;}

/*Logo del Pie de Página*/
#logo_foot img{width: 100px; height: 80px;}

/*Información - Derechos Reservados*/
footer span{color: #52CAF2;}

/*--- 4) EFECTO PARALLAX (JS) A LOS BLOQUES DEL PORTAFOLIO---*/

/*Ocultar la portada del portafolio, y se muestra al cargar el sitio*/
#hero{opacity: 0; transition: 1s ease;}

/*Ocultar en primera entrada los bloques del portafolio*/
#about, #skills, #works, #contact{transition: 200ms; opacity: 0;}

/*Otorgar efecto focus en vínculos del menú cuando el scroll recorre cada bloque*/
.focus:after{width: 100%; opacity: 1;}